<!--
		Start About Section
		==================================== -->
<style>
	.list {
		list-style-type: disc !important;
		padding-left:1em !important;
		margin-left:1em;
	}
</style>
<section class="bg-one about section">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2>About <span class="color">Us</span> </h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- About item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms">
				<div class="block" style="height: 500px;" >
					<img class="img-fluid" src="images/smile/all-in-one.png" alt="" style="height: 200px; padding: 10%;">
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3 class="ddd">All in One</h3>
						<!-- <ul class="list text-left"> -->
							Supports all networks:<br>
							GSM<br>
							WCDMA<br>
							TDD-LTE<br>
							FDD-LTE<br>
							5G-NSA<br>
						<!-- </ul> -->
					</div>
				</div>
			</div>
			<!-- End About item -->

			<!-- About item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block" style="height: 500px;">
					<img class="img-fluid" src="images/smile/backend-system-supports.png" alt="" style="height: 200px; padding: 10%;">
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>Backend System Supports</h3>
						<ul class="list text-left">
							<li>Get target Cell-ID information with MSISDN parameter.</li>
							<li>Get the target Cell-ID coordinates.</li>
							<li>Sending Silent SMS to the target, without the target being aware of it.</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End About item -->

			<!-- About item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom" style="height: 500px;">
					<img class="img-fluid" src="images/smile/data-synchronization.png" alt="" style="height: 200px; padding: 10%;">
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>Data Synchronization</h3>
						<ul class="list text-left">
							<li>To avoid blind spots, there are two ways to synchronize data on devices, namely by radio waves and internet data networks.</li>
							<li>After synchronization, as long as one device can get energy and other devices don't need to parse the base station signal, it can automatically get energy.</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End About item -->

      <!-- About item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms">
				<div class="block" style="height: 500px;" >
					<img class="img-fluid" src="images/smile/high-accuracy.png" alt="" style="height: 200px; padding: 10%;">
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3 class="ddd">High Accuracy</h3>
						<p>High degree of accuracy, less than 1 meter.</p>
					</div>
				</div>
			</div>
			<!-- End About item -->

			<!-- About item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block" style="height: 500px;">
					<img class="img-fluid" src="images/smile/tottally-passive.png" alt="" style="height: 200px; padding: 10%;">
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>Totally Passive</h3>
						<ul class="list text-left">
							<li>Does not carry out radio transmission (radiation), does not interfere with the operator's network.</li>
							<li>Does not cause radiation which is harmful to the user.</li>
							<li>Well camouflaged.</li>
							<li>Does not raise target perception.</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End About item -->

			<!-- About item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom" style="height: 500px;">
					<img class="img-fluid" src="images/smile/team-working.png" alt="" style="height: 200px; padding: 10%;">
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>Team Working</h3>
						<ul class="list text-left">
							<li>The main device in the vehicle can collaborate with several portable devices.</li>
							<li>Each device can see each other's status and work together.</li>
							<li>Information on each device is automatically synchronized.</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End About item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
