

<section class="section about-2 padding-0 bg-dark" id="about">
	<div class="container-fluid p-0">
		<div class="row no-gutters align-items-center center">
      <div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Our <span class="color">Product</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="images/smile/smile.png" alt="">
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<h1>Seamless Mobile Identification Location Equipment.</h1>
					<p>
            SMILE is a tactical equipment consisting of a device attached to a specially modified vehicle and also a portable
            device that can be included in a bag in general, the SMILE tactical device can collaborate in identifying the
            location of the mobile device used by the target, working silently (undetected) and efficient in conducting
            intelligence operations.
          </p>

          <div id="cf-submit">
						<button id="contact-submit" class="btn btn-transparent">See Products</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
