 <!--
Welcome Slider
==================================== -->

 <section class="hero-area overlay" style="background-image: url('images/smile/background.png');">
 	<!-- <video autoplay muted loop class="hero-video">
		<source src="images/banner/hero-video.mp4" type="video/mp4">
	</video> -->
 	<div class="block">
 		<!-- <div class="video-button mb-5">
 			<a class="popup-video" href="https://www.youtube.com/watch?v=jrkvirglgaQ">
 				<i class="tf-ion-play"></i>
 			</a>
 		</div> -->
 		<h1>Tactical 5G Seamless Mobile Identification Location Equipment</h1>
 		<p>Integrated target tracking solution with automation system in performing seamless operation</p>
 		<!-- <a href="#services" class="btn btn-transparent smooth-scroll">Explore Us</a> -->
 	</div>
 </section>
