<style>
  .center {
  margin: auto;
  width: 100%;
  padding: 10px;
}
</style>

<section class="bg-one about section" id="about">
	<div class="container-fluid p-0 center">
		<div class="row">
      <div class="col-lg-12">
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Intro</h2>
					<div class="border"></div>
				</div>
			</div>
			<div class="contact-info col-lg-10 wow fadeInUp center">
				<div class="content-block text-center">
					<h1>Enhance Performance and Productivity</h1>
					<p>
            PT AKA is engaged in the IT industry by offering software and hardware that become advanced end-to-end solutions for customers.
            Since our establishment, we have partnered with a variety of customers from various sectors such as finance, telecommunications, and government.
            Our best value is the ability to analyze and understand unique situations, goals, and objectives. Our products are capable of being specific solutions with tangible results that can be felt immediately. That's why we can help businesses improve performance and productivity.
            Our team consists of experienced experts with diverse skill sets to be able to help you get the best results.
          </p>
				</div>
			</div>
		</div>
	</div>
</section>
