<!-- Start Services Section
==================================== -->
<section id="services" class="bg-one section">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>Values</h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms">
				<div class="service-block text-center" style="height: 300px;">
					<h3>Intuition</h3>
					<p>We always provide solutions not only by conducting in-depth analysis but also with a holistic understanding of the context</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="service-block text-center" style="height: 300px;">
					<h3>Reliability</h3>
					<p>The tools and products we develop prioritize effectiveness and robustness, and simplify business processes to increase productivity
            Sed id lorem eget orci dictum facilisis vel id tellus. Nullam
						iaculis arcu at mauris dapibus consectetur.</p>
				</div>
			</article>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="service-block text-center" style="height: 300px;">
					<h3>Sustainability</h3>
					<p>We always do product development and technology research continuously</p>
				</div>
			</article>
			<!-- End Single Service Item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
